/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    background: #e2e2e2;
    padding: 10px;
    border-left: 5px solid #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5
}
footer {
    background-color: #26465352;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
    
}