body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}

.logo img {
    max-width: 100px;
}

nav.container {
    position: relative;
}

.menu-toggle {
    display: none; /* Hide on desktop */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #34495e;
}

.info {
    background-color: #34495e;
    padding: 20px;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #2c3e50;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .menu li {
        display: block;
        text-align: center;
    }

    .menu-toggle {
        display: block; /* Show toggle button on mobile */
    }

    .menu.active {
        display: flex;
    }
}

.section {
    padding: 40px;
    background-color: #f2f2f2;
}

.case-study {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.case-study img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
